<div class="container">
    <h1 class="mb-4 text-center">Mua thẻ cào điện thoại</h1>
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="wrap p-2 p-lg-3">
                <form method="POST" class="signin-form">
                    <div class="form-group row mb-3">
                        <div class="col-lg-12">
                            <label class="label">Loại thẻ</label>
                            <select class="form-control" name="type" required>
                                <option value="">Chọn loại thẻ</option>
                                <option>Viettel</option>
                                <option>Mobifone</option>
                                <option>Vinaphone</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-lg-12">
                            <label class="label">Mệnh giá</label>
                            <select class="form-control" id="price" name="price" required>
                                <option value="">Chọn mệnh giá</option>
                                <option value="10000">10,000 đ</option>
                                <option value="20000">20,000 đ</option>
                                <option value="30000">30,000 đ</option>
                                <option value="50000">50,000 đ</option>
                                <option value="100000">100,000 đ</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-lg-12">
                            <label class="label">Số lượng</label>
                            <input type="number" maxlength="1" class="form-control number-only" id="count" value="1" name="count"
                                min="1" max="5" required>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-lg-12">
                            <label class="label">Phí giao dịch</label>
                            <input class="form-control" type="number" placeholder="Miễn phí" id="fee" name="fee"  readonly>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-lg-12">
                            <label class="label">Tổng tiền</label>
                            <input class="form-control" type="number" id="money" name="money" readonly>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type=" submit " class="form-control btn btn-primary btn-sm submit px-3 ">Xác
                            nhận</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>