<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phone Card</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="login.css">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-11">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap all-color p-4 p-lg-5 text-center d-flex align-items-center">

                        </div>
                        <div class="col-lg-9 login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h3 class="mb-4">Mua thẻ điện thoại</h3>
                                </div>
                            </div>
                            <form method="POST" class="signin-form" enctype="multipart/form-data">

                                <div class="form-group row mb-3">
                                    <div class="col-lg-12">
                                        <label class="label">Loại thẻ</label>
                                        <select class="form-control" name="card_type">
                                            <option value="">Chọn loại thẻ</option>
                                            <option value="1">Viettel</option>
                                            <option value="2">Mobifone</option>
                                            <option value="2">Vinaphone</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-lg-12">
                                        <label class="label">Mệnh giá</label>
                                        <select class="form-control" name="card_amount">
                                            <option value="">Chọn mệnh giá</option>
                                            <option value="10000">10.000 vnđ</option>
                                            <option value="20000">20.000 vnđ</option>
                                            <option value="30000">30.000 vnđ</option>
                                            <option value="50000">50.000 vnđ</option>
                                            <option value="100000">100.000 vnđ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-lg-12">
                                        <label class="label">Số lượng</label>
                                        <input type="number" maxlength="1" class="form-control number-only" name="numbercard" min="1" max="5"required>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-lg-12">
                                        <label class="label">Phí giao dịch</label>
                                        <p style="padding-top: 10px" class="form-control" name="fee">Miễn phí</p>
                                    </div>
                                </div>
                                <div class="form-group row mb-3">
                                    <div class="col-lg-12">
                                        <label class="label">Tổng tiền</label>
                                        <p style="padding-top: 10px" class="form-control" name="sumPrice"></p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type=" submit " class="form-control btn btn-primary btn-sm submit px-3 ">Xác nhận</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>