<div class="container">
    <h1 class="mb-4 text-center">Lịch sử giao dịch</h1>
    <div class="row justify-content-center">
        <aside class="col-12 p-0">
            <div class="wrapper">
                <input type="radio" name="slider" checked id="home-history">
                <input type="radio" name="slider" id="history">
                <nav>
                    <label for="home-history" class="home-history"><i class="fa fa-receipt fa-fw"></i>Lịch sử tổng
                        quan</label>
                    <label for="history" class="history"><i class="fa fa-history"></i>Lịch sử giao dịch đã/chưa xử
                        lý</label>
                    <div class="slider"></div>
                </nav>
                <section>
                    <div class="content content-1">
                        <div class="Table_User">
                            <div class="table-responsive">
                                <table class="table custom-table table-hover">
                                    <thead class="all-color">
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Thời gian thực hiện</th>
                                            <th scope="col">Nội dung</th>
                                            <th scope="col">Số tiền</th>
                                            <th scope="col">Loại giao dịch</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr scope="row">
                                            <td>1</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Nạp tiền vào tài khoản cho vui</td>
                                            <td><i class="fa fa-money"></i>5,000,000 VND</td>
                                            <td>Nạp tiền</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>2</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Rút tiền ra đi chợ</td>
                                            <td>5,000,000 VND</td>
                                            <td>Rút tiền</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>3</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Chuyển tiền viết web cuối ký</td>
                                            <td>5,000,000 VND</td>
                                            <td>Chuyển tiền</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>4</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Nhận tiền từ anh thợ sửa ống nước</td>
                                            <td>5,000,000 VND</td>
                                            <td>Nhận tiền</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>5</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Thanh toán dịch vụ sửa ống nước</td>
                                            <td>5,000,000 VND</td>
                                            <td>Thanh toán dịch vụ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="content content-2">
                        <div class="Table_User">
                            <div class="table-responsive">
                                <table class="table custom-table table-hover">
                                    <thead class="all-color">
                                        <tr>
                                            <th scope="col">STT</th>
                                            <th scope="col">Thời gian thực hiện</th>
                                            <th scope="col">Nội dung</th>
                                            <th scope="col">Số tiền</th>
                                            <th scope="col">Loại giao dịch</th>
                                            <th scope="col">Trạng thái</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr scope="row">
                                            <td>1</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Nạp tiền vào tài khoản cho vui</td>
                                            <td><i class="fa fa-money"></i>5,000,000 VND</td>
                                            <td>Nạp tiền</td>
                                            <td style="color: red; font-weight: bold;">Chưa duyệt</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>2</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Rút tiền ra đi chợ</td>
                                            <td>5,000,000 VND</td>
                                            <td>Rút tiền</td>
                                            <td style="color: green; font-weight: bold;">Đã duyệt</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>3</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Chuyển tiền viết web cuối ký</td>
                                            <td>5,000,000 VND</td>
                                            <td>Chuyển tiền</td>
                                            <td style="color: green; font-weight: bold;">Đã duyệt</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>4</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Nhận tiền từ anh thợ sửa ống nước</td>
                                            <td>5,000,000 VND</td>
                                            <td>Nhận tiền</td>
                                            <td style="color: red; font-weight: bold;">Chưa duyệt</td>
                                        </tr>
                                        <tr scope="row">
                                            <td>5</td>
                                            <td>20/10/2021 12:08:00</td>
                                            <td>Thanh toán dịch vụ sửa ống nước</td>
                                            <td>5,000,000 VND</td>
                                            <td>Thanh toán dịch vụ</td>
                                            <td style="color: green; font-weight: bold;">Đã duyệt</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </aside>

    </div>
</div>

<!-- Information-wait dialog -->
<div class="modal fade" id="confirm-Information-wait">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <label>Thông tin tài khoản:</label>
                <p>Tên tài khoản: <span>Nguyễn Văn A</span></p>
                <p>Số tài khoản: <span>Gồm 13 chữ số</span></p>
                <p>Chi nhánh: <span>TP HCM</span></p>
                <p>Trạng thái tài khoản: <span style="color: green;">Đã kích hoạt</span></p>
                <p>Loại tiền: <span>VND</span></p>
                <p>Số dư khả dụng: <span>5,000,000 VND</span></p>
                <p>Mã giao dịch: <span>050302</span></p>
                <p>Phí giao dịch: <span>5,500 VND</span></p>
                <p>Nội dung giao dịch: <span>Chuyển tiền cho anh thợ sửa ống nước</span></p>
                <p>Mã nạp thẻ cào điện thoại: <span>11254524978</span></p>
                <p>Mã vé ca nhạc: <span>Vé 01</span></p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Duyệt</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>